/* CSS for Carmeco.com/contact.html
Author: Kelli Stasiak
Updated:01/13/2020*/

#contactDiv
{
  background-image: url("/images/metal.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 99%;
  padding-top: 7vw;
  padding-bottom: 2vw;
}
#lookingForward
{
  color: #e3eeaa;
  text-align: center;
  padding-bottom: 1vw;
}

h2 a{
  font-size: 3vw;
  font-weight: normal;
}

#greeting
{
  padding-top: 1vw;
  padding-bottom: 2vw;
  top: 8vw;
}
#contactSlide
{
  float: right;
  margin-right: 6vw;
  padding-left: 2vw;
  width:50%;
}
#contactList
{
  width:35%;
  margin-left: 5vw;
  padding-top: 1vw;
  text-align: center;
  float: left;
}

@media print
{
  #lookingForward
  {
    padding-top: 0 !important;
  }
  #contactSlide
  {
    margin-left: 27vw !important;
  }
  #contactSlide
  {
    float: none;
    margin-left: 22vw;
    margin-top: 0vw;
  }
  #contactList
  {
    height: auto;
    width:100% !important;
    text-align: center;
    margin-left: 11vw;
    padding-top: 2vw;
  }
  #greeting
  {
    width: 100%;
    margin-bottom: 2vw;
    margin-left: -10vw;
    margin-right: auto;
    float: none;
  }
}
@media only screen and (max-width: 1366px)
{
  #contactList li
  {
    line-height: 1vw;
  }
}
@media only screen and (max-width: 990px)
{
  #contactList li
  {
    line-height: .5;
  }
}
@media only screen and (max-width: 780px)
{
  #contactDiv{
    padding-top: 16vw;
  }
}

@media only screen and (max-width: 659px)
{
  #contactSlide
  {
    float:none;
    width: 75vw;
    margin-left: 10vw;
    margin-top: 2vw;
    padding-top: 0;
    margin-bottom: 2vw;
    position: relative;
  }
  #contactList
  {
    width: 95%;
    margin-left: 1vw;
    margin-right: 1vw;
    position: relative;
  }
  #contactList p
  {
    font-size: 4vw;
  }
  #contactList a
  {
    font-size: 5vw !important;
  }
}
@media only screen and (max-width: 609px){
  #lookingForward
  {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 6.5vw;
  }
  #greeting
  {
    font-size: 4vw;
    width:auto;
    margin-right: 0;
    padding-bottom: 2vw;
  }
  #contactSlide
  {
    float:none;
    width: 75vw;
    margin-left: 10vw;
    margin-top: 2vw;
    padding-top: 0;
    margin-bottom: 2vw;
    position: static;
  }
  #contactList
  {
    width: 95%;
    overflow-y: initial;
    overflow-x: visible;
    margin-left: 1vw;
    margin-right: 1vw;
    position: relative;
  }
}
