/* CSS for Carmeco.com/index.html
Author: Kelli Stasiak
Updated:01/13/2020*/
/* HEADLINE SECTION */
#whoWeAre
{
  background-image: url("/images/sparks.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  height:50vw;
  padding-top: 15vw;
  padding-bottom: 15vw;
  width: 100%;
}
/* TRANSPARENT TRIANGLE */
#box:before
{
  content:"";
  position:absolute;
  top:0;
  right: 51.6vw;
  border-top: 20vw solid transparent;
  border-right: 23vw solid black;
  border-bottom: 23vw solid transparent;
  opacity: .5;
  margin-top: 7vw;
  display: inherit;
}
/* TRANSPARENT RECTANGLE */
#box::after
{
  content: "";
  background-color: black;
  height: 53.25vw;
  width: 51.6vw;
  position: absolute;
  right:0;
  opacity: .5;
  margin-top: -34.5vw;
  z-index: 0;
}
#mission
{
  margin-top: 5.5vw;
  z-index:5;
  text-align: right;
  padding-right: 4vw;
  vertical-align: bottom;
  position: relative;
}


#mission h1, #mission h3{
  color: #fff;
}

/* CAPABILITIES SECTION */
#capabilities
{
  border-top: 1px solid #e1e1e1;
  overflow: hidden;
  width: 100%;
}
#capabilities .container-fluid
{
  margin: 0;
  padding: 0;
}

#capabilities a{
  padding:0;
}

.col-lg-4, .col-md-4, .col-sm-4, .col-xs-4{
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#capabilities h3
{
  font-weight: bold;
  color: white;
  position:relative;
  text-align: center;
  z-index: 2;
}

#capabilities h3:hover{
  color:#e3eeaa;
}

#stampingContainer:hover #stamping, #qualityIndexContainer:hover #qualityIndex, #laserContainer:hover #laser,
#weldingContainer:hover #welding, #toolingContainer:hover #tooling, #facilityContainer:hover #facility,
#fabContainer:hover #fab, #paintContainer:hover #paint, #logisticsContainer:hover #logistics
{
  opacity: 1;
}

.CapabilitiesDescContainer
{
  margin-top: -12vw;
  position: absolute;
  line-height: 4vw;
  width: 100%;
  margin-bottom: -12vw;
}

#capabilities img
{
  height: 22vw;
  position: relative;
  opacity: .7;
  margin: 0;
  width:auto;
  display: block;
}

/* ABOUT SECTION */
#about
{
  border-top: 1px solid #e1e1e1;
  position: static;
}

#about h2{
  color: #fff;
}

#certificates
{
  text-align: center;
  display: inline-block;
  float: left;
  text-decoration: underline;
}
#certificates img
{
  margin: .5vw;
  width:15vw;
}
#membership
{
  display: inline-block;
  float:right;
  text-align: center;
  text-decoration: underline;
}
#membership img
{
  width:25vw;
  margin: .5vw;
}
#sponsers
{
  text-decoration: underline;
  text-align: center;
}
#sponsers img
{
  margin: .5vw;
  width: 25vw;
}
/* ------------------------------------------------------------------MEDIA QUERIES--------------------------------------------------------- */
@media print
{
  #box::after, #box::before
  {
    display: none;
  }
  #whoWeAre
  {
    background-image: url(images/sparks.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    margin-top: 2vw;
    height: auto;
  }
  #mission
  {
    margin-top: 0;
    margin-right: 0;
    padding-right: 0;
  }
  #mission h1
  {
    margin-right: auto;
    text-align: center;
    font-size: 6vw;
  }
  #mission h2
  {
    text-align: center;
  }
  #stampingContainer #stamping, #stampingContainer:hover #stamping, #laserContainer:hover #laser
  #weldingContainer #welding, #weldingContainer:hover #welding, #toolingContainer:hover #tooling
  #facilityContainer #facility, #facilityContainer:hover #facility, #qualityIndexContainer:hover #qualityIndex
  #fabContainer:hover #fab, #paintContainer:hover #paint, #logisticsContainer #logistics
  #logisticsContainer:hover #logistics
  {
    opacity: .5;
  }
}

@media only screen and (max-width: 780px){
  #box::before{
    top: 2.5vw;
  }

  #mission{
    margin-top: 8vw;
  }

  /* TRANSPARENT TRIANGLE */
  #box:before
  {
    content:normal;
    display: none;
    visibility: hidden;
  }
  /* TRANSPARENT RECTANGLE */
  #box::after
  {
    width: 100%;
  }

  #whoWeAre{
    height: 45vw;
  }

  #mission
  {
    margin-top: 6vw;
    margin-left: auto;
    margin-right: auto;
  }

  #mission h1
  {
    text-align: center;
    margin-right: auto;
  }
  #mission h3
  {
    margin-right: auto;
    text-align: center;
  }
}

@media only screen and (max-width: 767px)
{
  #certificates img
  {
    width: 25vw;
  }
  #membership img, #sponsers #goCaps
  {
    width: 30vw;
  }
  #bottom
  {
    font-size: 2vw;
  }
}


@media only screen and (max-width: 575px)
{
  #capabilities h3{
    font-size: 6vw;
    font-weight: normal;
    line-height: 7vw;
  }
  .CapabilitiesDescContainer{
    margin-top: -20vw;
    margin-bottom: -20vw;
    padding-right: 5vw;
    padding-left: 5vw;
  }
}

@media only screen and (max-width: 500px){
  #certificates img{
    width:30vw;
  }
  #membership img, #sponsers #goCaps
  {
    width: 40vw;
  }
  .col-xs-4{
    width: 50%;
  }
  #capabilities img{
    height: 35vw;
  }
  .CapabilitiesDescContainer{
    padding-left: 0;
    padding-right:0;
  }
  #stampingContainer{
    width: 100%;
  }
  #stampingContainer img{
    width: 100%;
  }
  .row{
    clear: none;
  }
  .row:after{
    clear: none;
  }
}

@media only screen and (max-width: 350px){
  #box::after{
    width: 100%;
    margin-top: -40vw;
  }

  #capabilities p{
    font-size: 7vw;
    line-height: 8vw;
  }

}
