/* CSS for Carmeco.com
Author: Kelli Stasiak
Updated:12/02/2019*/

html, body, button, a, div, h1, h2, h3, h4, img, li, p, ul
{
  margin:0;
  padding:0;
  border:0;
  font-family: 'Oswald', sans-serif;
  cursor: default;
}
body
{
  background-color: #000000;
  margin: 0 auto;
}
h1, h2{
  color: #e0e0e0;
  font-weight: bold;
  padding:1vw;
}
h3,h4
{
  color: #e3eeaa;
  font-weight: bold;
}
p, li, a
{
  color: #bababa;
  font-size: 2vw;
  padding:.25vw;
}
h1
{
  font-size: 5vw;
}

h2
{
  font-size: 4vw;
}
h3
{
  font-size: 3vw;
}
h4
{
  font-size: 2vw;
  font-style: italic;
  text-align: center;
  clear: both;
  padding: 1vw;
}
a{
  color: #bababa;
}

a:hover
{
  color: #e3eeaa;
  cursor: pointer;
  text-decoration: none;
  font-weight:bold;
}
ul
{
  list-style-position: inside;
  margin: 0;
  padding-left: 1vw;
}
li
{
  display:inline-block;
  float: left;
  position: relative;
  cursor: default;
  list-style-position: inside;
  text-indent: -1.5vw;
  padding-left: 1.5vw;
}

li::before{
  content: "-";
  padding-right: 1vw;
}

/* HEADER SECTION */
header
{
  width: 100%;
  background: black;
  border-bottom: 1px solid #e1e1e1;
  z-index: 9999;
  position: fixed;

  /* animation for the shrinking and enlarging*/
  transition: all 0.9s ease-in-out;
  -webkit-transition: all 0.9s ease-in-out;
  -moz-transition: all 0.9s ease-in-out;
}
/* This helps keeps the images uniformed
in size and location when the hover occurs */
header img
{
  float: left;
  margin-left: 2vw;
}

header li::before{
  content: "";
  padding-right: 1vw;
}

.row
{
  margin-right: 0;
  margin-left: 0;
}
/* This Section Makes the Carmeco logo change to gold
 on hover */
#logoDiv
{
  position:relative;
  display: inline-block;
  margin-bottom: 1vw;
  margin-top: -2vw;
}
#logoDiv #logo
{
  position: absolute;
  top: 1vw;
  left: 0;
}
#logoDiv #goldLogo
{
  display: none;
  position: absolute;
  top: 1vw;
  left: 0;
  z-index: 99;
}
#logoDiv:hover #goldLogo
{
  display: inline;
}
#phone
{
  float:right;
  color: #bababa;
  margin-right: 1vw;
  margin-top:2vw;
}
#phone:hover
{
  color: #e3eeaa;
  font-weight: bold;
  cursor: pointer;
}
/*NAVIGATION MENU */
.navigation-menu-button
{
  /* hides the nav menu on larger view ports */
  display:none;
  float:right;
  clear:right;
  padding-right: 2vw;
}
nav
{
  float: right;
  margin-top: 6vw;
}
#mySidenav
{
  margin-right: -22vw;
}
.sidenav a:hover
{
  text-decoration: none;
  color: #e3eeaa;
  cursor: pointer;
}
.sidenav a
{
  color: #bababa;
  font-family: 'Oswald', sans-serif;
}
/* Hides the close button on the lager viewports */
.closebtn
{
  visibility: hidden;
}
/* SHRINKING HEADER class happens when the user scrolls the page the class is added to the header via JavaScript */
header
{
  padding: 0px 0;
}
header img
{
  width: 15vw;
  margin-top:-1vw;
}
header nav
{
  margin-top: 3vw;
}
header #mySidenav
{
  right: 0;
}
header #phone
{
  margin-top: -.5vw;
  padding: 0;
  padding-top: .5vw;
}
/* FOOTER SECTION */
footer
{
  position: static;
  margin-top: 1vw;
  border-top: 1px solid #e1e1e1;
}

footer a:visited
{
  color: #bababa;
}

.footerHeadline{
  text-decoration: underline;
  color: #e3eeaa;
  font-style:normal;
  text-align: left;
  clear: both;
  padding: 0;
}

/* Used on index and contact page */
#contactInfo
{
  margin-left: 20vw;
}
/* Used on index and contact page */
#hours
{
  margin-top: -10.75vw;
  margin-left: 60vw;
}
/* Used on Capabilites, Equip, GreenInit, and About Pages */
.contactInfo
{
  margin-left: 2vw;
}
/* Used on Capabilites, Equip, GreenInit, and About Pages */
.hours
{
  float: right;
  margin-right: 2vw;
  margin-top: -10.75vw;
}
#bottom
{
  border-top: 1px solid #e1e1e1;
  clear:both;
  text-align: center;
  color:#e3eeaa;
  font-size: 1.25vw;
}
.scrollbarclass::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #838383;
	border-radius: 10px;
}
.scrollbarclass::-webkit-scrollbar
{
	width: 12px;
	background-color: #838383;
}
.scrollbarclass::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#d5e680),
									   to(#d5e680),
									   color-stop(.6,#ffff))
}
/* ------------------------------------------------------------------MEDIA QUERIES--------------------------------------------------------- */
@media print
{
  a[href]::after
  {
    display: none;
  }
  body
  {
    float: none;
  }
  img
  {
    max-width: none !important;
  }
  header
  {
    top:0;
    position: relative;
    padding-bottom: 2vw;
    margin-bottom: 3vw;
  }
  #logo
  {
    width: 26vw;
    margin-top: -2vw;
  }
  #logoDiv:hover #goldLogo
  {
    display: none;
  }
  .btn
  {
    display: none;
  }
  #promise
  {
    width: 55%;
    float: right;
    margin-top: -20vw;
  }
}
@media only screen and (max-width: 1286px)
{
  #logo, #goldLogo
  {
    width: 19vw;
    top:0;
    margin-top: -2vw;
  }
}
@media only screen and (max-width: 990px)
{
  p, li, a
  {
    font-size: 2vw;
  }
  h4{
    font-size: 3vw;
  }
  footer p
  {
    font-size: 2vw;
  }
  footer a
  {
    font-size: 2.25vw;
  }
  footer h3
  {
    font-size: 3vw;
  }
  .hours
  {
    margin-top: -14.75vw;
  }
}
@media only screen and (max-width: 780px)
{
  p, a, li{
    font-size: 3vw;
  }
  #logoDiv
  {
    clear: both;
    margin-left: 32vw;
    margin-top: 0;
    padding: 1vw;
  }
  #logoDiv img
  {
    margin-top: -1vw;
    margin-left: 3vw;
    width: 25vw;
  }
  nav{
    float: none;
    padding-top: 1vw;
  }

  #mySidenav
  {
    margin-top: 0;
    margin-right: 2vw;
    margin-bottom: 1vw;
  }

  #mySidenav a
  {
    text-align: center;
  }
  footer p{
    font-size: 2.5vw;
  }
}
@media only screen and (max-width: 768px)
{
  footer h4
  {
    font-size: 3vw;
  }
}
@media only screen and (max-width: 692px)
{
  .separators
  {
    padding: 1vw;
  }
}
/* MENU BUTTON!!!! */
@media only screen and (max-width: 609px)
{
  header
  {
    height: 12vw;
  }
  #logoDiv img
  {
    width: 30vw;
    margin-top: -2vw;
    margin-bottom: 3vw;
    margin-left: 0vw;
  }
  #phone
  {
    font-size: 3vw;
  }
  /* Dropdown Button and Navigation Section */
  .navigation-menu-button
  {
    display:block;
  }
  .navigation-menu-button p
  {
    margin-top: -2vw;
    font-size: 4vw;
  }
  nav
  {
    margin-top: 0;
  }
  #mySidenav
  {
    display: none;
    margin-right: 0vw;
    right:3vw;
    position: absolute;
    z-index: 1;
    background-color: black;
    margin-top: 0;
  }
  #mySidenav a
  {
    font-size: 4vw;
    text-align: right;
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    transition: 0.3s;
    text-align: right;
    clear:both;
    display:block;
    line-height: normal;
  }
  #mySidenav li
  {
    line-height: 1vw;
    padding-top:0;
    padding-left: 0;
    float: right;
    clear:both;
  }
  #hamburger
  {
    padding-top: 0;
    font-size: 4vw !important;
  }
  .separators
  {
    display: none;
  }

  footer p, footer a, h4
  {
    font-size: 4vw;
  }
  footer h4{
    font-size: 5vw;
    text-align: center;
  }
  footer h3
  {
    font-size: 6vw;
    text-align: center;
    text-decoration: underline;
  }
  h2{
    font-size: 7vw;
  }
  .hours
  {
    float: none;
    margin-top: 2vw;
    margin-left: 2vw;
  }
}
@media only screen and (max-width: 575px)
{
  p, li, a
  {
    font-size: 3vw;
  }
  h2{
    font-size: 5vw;
  }
}
@media only screen and (max-width: 480px)
{
  #logoDiv
  {
    margin-bottom: 2vw;
    margin-left: 5vw;
  }
  #phone
  {
    font-size: 3.5vw;
    margin-right: 4vw;
  }
  .navigation-menu-button
  {
    margin-top: -2vw;
  }
  #mySidenav
  {
    margin-top: 3vw;
  }
}

@media only screen and (max-width: 432px)
{
  #mySidenav a
  {
    font-size: 5vw;
    white-space: nowrap;
  }
  #bottom
  {
    font-size: 3vw;
  }
  footer h3
  {
    font-weight: 500;
    font-size: 5vw;
  }
}
@media only screen and (max-width: 401px)
{
  header
  {
    height: 15vw;
  }
  .navigation-menu-button
  {
    margin-top: 0vw;
  }
}
@media only screen and (max-width: 350px)
{
  p, a, li
  {
    font-size: 5vw;
  }
  footer h4{
    font-size: 6vw;
  }
  h1{
    font-size: 5vw;
  }
}
@media only screen and (max-width: 345px)
{
  footer a{
    font-size: 6vw !important;
  }
}
